@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,900&display=swap");
*::before,
*::after,
* {
  box-sizing: border-box;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0 0 0 23.5px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  color: #ffffff;
}
li body,
a body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
  flex: 4;
}

header {
  height: 100vh;
  min-width: 1440px;
  background-image: url("../sundays/images/desktop/image-header.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
}

header nav {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 1352px;
  margin: 32px 0 0 0;
}

header nav ul {
  display: inline-flex;
}

header .arrow-down {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 1352px;
  margin-top: 105px;
}

header .arrow-down h1 {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #fff;
}

header .arrow-down img {
  margin-top: 96.54px;
}

.btn {
  background: white;
  border-radius: 28px;
  color: black;
  height: 56px;
  width: 140px;
  padding: 16px 32px;
  font-weight: 700;
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303e;
  cursor: pointer;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.first-container {
  display: flex;
  flex-flow: row wrap;
  height: 660px;
}

.first {
  flex: 1;
}

.text-inside {
  margin: 157px 110px 157px 157px;
}

.text-inside h1 {
  font-family: Fraunces, serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  white-space: pre-line;
  color: #24303e;
}

.text-inside p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  white-space: pre-line;
  /* or 167% */
  letter-spacing: -0.128571px;
  color: #808397;
}

button {
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 15px !important;
  line-height: 25px !important;
  /* identical to box height, or 167% */
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  color: #24303e;
  height: 20px;
  width: 120px;
  cursor: pointer;
  border: 0px;
}

button::after {
  content: "LEARN MORE";
  background: #fad400;
  opacity: 0.25;
  border-radius: 28px;
  height: 10px;
  width: 137px;
  color: #fad400;
  padding: 0;
  margin: 0;
  position: relative;
  top: -15px;
}

button:hover::after {
  background: #fad400;
  opacity: 1;
  z-index: -100;
}

.second {
  flex: 1;
  background: url("../sundays/images/desktop/image-transform.jpg");
  background-size: 100% 100%;
}

.second-container {
  display: flex;
  flex-flow: row wrap;
  height: 660px;
}

.third {
  flex: 1;
  background-size: 100% 100%;
  background: url("../sundays/images/desktop/image-stand-out.jpg");
}

.fourth {
  flex: 1;
}

.fourth button::after {
  background: #fe7766;
  color: #fe7766;
}

.fourth button:hover::after {
  background: #fe7766;
}

.third-container {
  display: flex;
  flex-flow: row wrap;
}

.fifth,
.sixth {
  height: 600px;
}

.fifth {
  background: url("../sundays/images/desktop/image-graphic-design.jpg");
  background-size: 100%;
  flex: 1;
}

.sixth {
  background: url("../sundays/images/desktop/image-photography.jpg");
  background-size: 100%;
  flex: 1;
}

.centerilized-text {
  margin: 398px 190px 59px 191px;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554a;
}

.centerilized-text p {
  white-space: pre-line;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  letter-spacing: -0.114286px;
  color: #3e7467;
}

.TESTIMONIALS {
  display: flex;
  flex-flow: row wrap;
  height: 457px;
  margin: 160px 165px;
  justify-content: space-evenly;
}

.TESTIMONIALS img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

.TESTIMONIALS > h1 {
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 5px;
  width: 100%;
  color: #a7aaad;
}

.TESTIMONIALS p {
  white-space: pre-line;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5b636d;
}

.TESTIMONIALS .people {
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303e;
}

.TESTIMONIALS .position {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #a7aaad;
}

.TESTIMONIALS .first-test,
.second-test,
.third-test {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.image-container img {
  height: 447px;
  min-width: 360px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-width: 1440px;
  height: 350px;
  left: 0px;
  top: 3824px;
  background: #90D4C6;
}

.logos {
  width: 297px;
  height: 206px;
  border: 1px solid olive;
}

.logos ul {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.logos li a {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  letter-spacing: -0.128571px;
  color: #458D7E;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
