@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,900&display=swap");

*::before,
*::after,
* {
  box-sizing: border-box;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0 0 0 1.4rem;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  /* identical to box height, or 139% */

  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 100%;
  }

  color: #ffffff;
}
header {
  height: 100vh;
  min-width: 18rem;
  background-image: url("../sundays/images/desktop/image-header.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
}
header nav {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 84.5rem;
  margin: 2rem 0 0 0;

  flex: 0 0 auto;
}
header nav ul {
  display: inline-flex;

}
header nav ul li {
  margin: calc(2.938rem/2);
}
header .arrow-down {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 84.5rem;
  margin-top: 6.563rem;
  
}
header .arrow-down h1 {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #fff;
  
}
header .arrow-down img {
  margin-top: 6.025rem;
}
.btn {
  background: white;
  border-radius: 28px;
  color: black;
  height: 3.5rem;
  width: 8.75rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  letter-spacing: -0.107143px;
  text-transform: uppercase;

  color: #24303e;
  cursor: pointer;
}
.btn:hover {
  background: hsla(100, 100, 100, 0.3);
  color: hsla(100, 100, 100, 1);
}
// styling width for the first box after the header //
.first-container {
  display: flex;
  flex-flow: row wrap;
  height: 37.5rem;
  padding: 0;
  margin: 0;
}
.first {
  flex: 1;
  display: flex;
  justify-content: center;;
  align-items: center;
}
.text-inside {
   width: 445px;
   height: 285px;
   margin: 157px 110px 157px 157px;
}
.text-inside h1 {
  font-family: Fraunces, serif;

  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
padding: 0;
margin: 0;
  white-space: pre-line;
  color: #24303e;
}
.text-inside p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  white-space: pre-line;
  /* or 167% */

  letter-spacing: -0.128571px;

  color: #808397;
}
button {
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 15px !important;
  line-height: 25px !important;
  /* identical to box height, or 167% */
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  color: #24303e;
  height: 20px;
  width: 120px;
  cursor: pointer;
  border: 0px;
}
button::after {
  content: "LEARN MORE";
  background: #fad400;
  opacity: 0.25;
  border-radius: 28px;
  height: 10px;
  width: 137px;
  color: #fad400;
  padding: 0;
  margin: 0;
  position: relative;
  top: -15px;
}
button:hover::after {
  background: #fad400;
  opacity: 1;
  z-index: -100;
}
.second {
  flex: 1;
  background: url("../sundays/images/desktop/image-transform.jpg");
  background-size: 100% 100%;
}
.second-container {
  display: flex;
  flex-flow: row wrap;
  height: 660px;
}
.third {
  flex: 1;
  background-size: 100% 100%;
  background: url("../sundays/images/desktop/image-stand-out.jpg");
}
.fourth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.fourth button::after {
  background: #fe7766;
  color: #fe7766;
}
.fourth button:hover::after {
  background: #fe7766;
}
.third-container {
  display: flex;
  flex-flow: row wrap;
}
.fifth,
.sixth {
  height: 600px;
}
.fifth {
  background: url("../sundays/images/desktop/image-graphic-design.jpg");

  background-size: 100%;
  flex: 1;
}
.sixth {
  background: url("../sundays/images/desktop/image-photography.jpg");

  background-size: 100%;
  flex: 1;
}
.centerilized-text {
  margin: 398px 190px 59px 191px;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.2px;

  color: #24554a;
}
.centerilized-text p {
  white-space: pre-line;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */

  letter-spacing: -0.114286px;

  color: #3e7467;
}
//  .TESTIMONIALS// 
.TESTIMONIALS {
display: flex;
flex-flow: row wrap;
height: 457px;
margin: 160px 165px;
justify-content: space-evenly;
}
.TESTIMONIALS img {
border-radius: 50%;
height: 72px;
width: 72px;
} 
.TESTIMONIALS > h1 {
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 5px;
  width: 100%;
  color: #a7aaad;
}
.TESTIMONIALS p {
  white-space: pre-line;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-align: center;
  letter-spacing: -0.128571px;

  color: #5b636d;
}
.TESTIMONIALS .people {
  font-family: Fraunces 9pt Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303e;
}
.TESTIMONIALS .position {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #a7aaad;
}
.TESTIMONIALS .first-test,
.second-test,
.third-test {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.image-container {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.image-container img {
  height: 447px;
  min-width: 360px;
}
// End of TESTIMONIALS //
// footer styling // 
footer {
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: center;
min-width: 1440px;
height: 350px;
background: #90D4C6;
}
.wrapper {
  width: 297px;
  height: 206px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

}
footer .sundays {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}
footer ul {
 display: inline-flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: center;
 padding: 0;
 margin: 0;
 width: 100%;
}
footer li a {
  font-family: Barlow;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: -0.128571px;
color: #458D7E;
padding: 0;
margin: 0;
}
footer li a:hover {
  color: #fff;
}
.footer-images {
display: flex;
width: 100%;
justify-content: space-evenly;
align-self: flex-end;
}
footer .footer-images svg:hover {
  cursor: pointer;
fill: #fff;
}
footer .footer-images  path:hover {
fill: #fff;
}
.disabled {
  display: none;
}
.enabled {
  visibility: visible;
}
.triangle {
  display: none;
}
// mobile 

@media only screen and (max-width: 376px) { 
  body {
    max-width: 375px;
  }
  header{
   background: url("../sundays/images/mobile/image-header.jpg");
   max-width: 375px;
   background-size: contain;
   height: 538px;
  }
  header nav {
    max-width: 327px;
    display: flex;
  }

  header .arrow-down {
    flex-flow: column wrap;
    margin: 88px 0 136px;
    transition: 1s ease-in;
   
  }

  header .arrow-down svg {
    height: 107px;
    
  }

  .arrow-down-burger {
    
  }
  header .arrow-down h1 {
    font-family: Fraunces 9pt Soft;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 49px;
text-align: center;
letter-spacing: 6.25px;
text-transform: uppercase;
margin: 0;

  }
header nav ul {
  display: none;
  visibility: hidden;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 329px;
  height: 329px;
  background: #FFF;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 121px;
  left: 24px;
}

  


header nav ul li a {
font-family: Barlow;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */
width: 100%;
letter-spacing: -0.142857px;
padding: 0;margin: 0;
color: #808397;
}
.burger {
  display: block;
  cursor: pointer;
}

.btn {
background: #FBD600;
font-family: Fraunces 9pt Soft;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */
letter-spacing: -0.107143px;
text-transform: uppercase;
color: #24303E;

}
.enabled {
  display: flex !important;
  visibility: visible !important;
  animation: mymove 1s ;
  transition: 1s ease-in;
}
.enabled-tri {
  display: block !important;
  visibility: visible !important;
  animation: mymove 1s ;
  transition: 1s ease-in;
}

.triangle {
  display: none;
  visibility: hidden;
  height: 24px;
  width : 24px;
  background: #FFF;
  margin-top: 26px;
  padding: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  position: absolute;
  top: 72px;
  left: 329px
}
.first-container {
  flex-flow: column wrap;
  height: calc(375px + 437px);
}
.first {
  order: 2;
}
.second {
  order: 1;
  background: url("../sundays/images/mobile/image-transform.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 312px;
  width: 375px;
}
.second-container {
  flex-flow: column wrap;
}
.third-container {
  flex-flow: column wrap;
}
}
// # animation // 
@keyframes mymove {
  0%{
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}
.hide-it {
  visibility: hidden !important;

}